# Virtual environment
.venv/

# Ignore everything in data
data/*

# But keep these DuckDB databases
!data/interim/
!data/interim/aggregation1.duckdb
!data/interim/enrichment.duckdb

# Ignore all csv file in data/interim
data/interim/*.csv

# Ignore everything in resources
resources/*

# Jupyter Notebooks
*.ipynb
notebooks/
.ipynb_checkpoints/

# Environment variables
.env

# macOS system files
.DS_Store

# Python cache
__pycache__/
*.py[cod]